body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: verdana;
}

html,
#output {
  scroll-snap-type: y mandatory;
}

#ui,
#output {
  height: 100vh;
  scroll-snap-align: start;
}

.ui-controls {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  > label {
    display: flex;
    flex: 0 1 min-content;
    gap: 0.5em;
  }
  > .spacer {
    flex: 1 1 100%;
  }
  > button {
    flex: 1 1 40em;
  }
}

#output {
  overflow: auto;
}

.card {
  --row-count: 5;
  --col-count: 5;

  display: grid;
  height: 100%;
  overflow: auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.card-card {
  --size-ratio: calc((var(--row-count) + 1) / var(--col-count));
  --card-width: max(
    calc(min(calc((100vh - 2em) / var(--size-ratio)), 100vw) - 2em),
    90vh
  );

  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  grid-template-rows: repeat(calc(var(--row-count) + 1), 1fr);
  height: inherit;
  max-height: 90vh;
  max-width: 90vw;
  outline: 2px solid black;
  place-self: center;
  position: relative;
  width: var(--card-width);
}

.card-row {
  display: contents;
}

.card-box {
  border: 1px solid black;
  display: grid;
  font-size: small;
  overflow: hidden;
  padding: 0.5em;
  place-items: center;
}

.header-row {
  display: flex;
  font-size: xxx-large;
  font-weight: bold;
  grid-column: 1 / -1;
  place-items: center;
  position: relative;
  > span {
    flex: 1;
    &.card-number {
      position: absolute;
      font-size: initial;
      top: 0.5em;
      right: 0.5em;
    }
  }
}

h2 {
  padding-top: 45px;
}

td {
  border: 1px dotted black;
  padding: 13px;
  font-size: 16px;
}

@page {
  size: A4;
  margin: 0;
}

table {
  width: 100%;
  border: 1px solid black;
}

* {
  font-family: verdana;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
#ui {
  align-items: center;
  background: #383e56;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-evenly;
  padding-block-end: 1em;
  & > * {
    flex: 1;
  }
  & > textarea {
    width: 80%;
    flex: 1 1 100%;
  }

  h1 {
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-block-start: 2em;
  }

  p {
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}
label {
  color: white;
  padding: 5px;
}
button {
  margin: 0 25px;
}

@media screen {
  body,
  html {
    width: 100%;
  }
}
@media print {
  #ui {
    display: none;
  }
  #output {
    height: unset;
    width: 100%;
    align-items: center;
    .card {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin: 0 auto;
      break-after: always;
      background-color: red;
      .card-card {
        margin-block-start: 50%;
        margin-inline: auto;
        height: unset;
        border: 1pt solid black;
        border-collapse: collapse;
        background-color: green;

        .header-row,
        .card-box {
          border-collapse: collapse;
          border: 1pt solid black;
        }
      }
    }
  }
}
